* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4c1f9;
    text-align:center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 8vmin;
    color: blueviolet;
    background-color: #ede7b1 ;
}

#reset-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: blueviolet;
    color: white;
    
}
#new-btn{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: blueviolet;
    color: white;
    
}

#msg{
    color: #d3f8e2;
    font-size: 8vmin;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}